

/* Hacer que la lista de links se ponga horizontal */
li {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    
}
li img {
    vertical-align: middle;
    padding-left: 0px;
    align-items: center;
}

ul {
    list-style-type: none;
    
}

header img {
    height: 48px;
    
}
